body {
  font-family: "Varela Round", sans-serif;
}

a,
a:hover {
  color: white;
  text-decoration: none;
}

/* HOME PAGE */

.intro {
  padding: 10% 15% 0% 15%;
}

.opening-line {
  font-size: 4.75rem;
}

.intro-name {
  font-weight: 700;
  color: #ff4900;
}

.intro-desc {
  font-size: 2.75rem;
  color: #cbcbcb;
}

/* .secondary-line {
  padding-bottom: 20rem;
} */

/*
  NAV BAR
*/

.navbar {
  font-size: 1.25rem;
  padding: 1% 15%;
}

.nav-masthead .nav-link {
  padding: 0.5rem;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.5);
  background-color: transparent;
  border-bottom: 0.25rem solid transparent;
}

.nav-item {
  margin-left: 0.5rem;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, 0.25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

/* GENERAL CONTENT */

.content-block {
  padding: 3% 15% 0% 15%;
}

.content-section {
  font-size: 1.5rem;
}

.content-header {
  font-size: 2.75rem;
}

.content-header:after {
  content: "";
  display: inline-block;
  width: 300px;
  height: 1px;
  margin-left: 1rem;
  margin-bottom: 0.625rem;
  background-color: white;
}

/* ABOUT */

.about-content {
  margin-top: 2rem;
  font-size: 1.15rem;
}

#about-image {
  border-radius: 10px;
  border: 2px solid #ff4900;
  box-shadow: 3px 8px 5px 2px rgb(0, 0, 0, 46%);
}

.contact-icons {
  padding-top: 3rem;
}

.icon {
  padding: 0 1rem;
}

ul {
  list-style: none;
}

ul.language-list {
  display: grid;
  grid-column-gap: 2.2rem;
  grid-template-columns: repeat(2, minmax(0.625rem, 18rem));
}

ul.learning-list {
  display: grid;
  grid-column-gap: 2.2rem;
  grid-template-columns: repeat(2, minmax(0.625rem, 18rem));
}

li.skill::before {
  content: "▹ ";
  color: #ff4900;
}

li.lang {
  margin-left: -2.2rem;
}

li.tech {
  margin-left: -2.2rem;
}

.skills {
  padding-top: 3rem;
}

.languages {
  float: left;
}

.learning {
  padding-top: 2rem;
}

/* FOOTER */

footer {
  padding-top: 5rem;
  position: relative;
  font-size: 0.75rem;
  bottom: 0;
  height: 2rem;
  width: 100%;
}

/* PROJECTS */

.card {
  border: solid #ff4900;
  background-color: #121213;
  width: 100%;
  height: 100%;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-body h5 {
  display: inline;
  font-size: 1.5rem;
  color: rgb(225, 225, 225);
}

.header-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-item {
  padding-top: 3rem;
}

.project-desc {
  padding-top: 1rem;
  font-size: 1.1rem;
}

.tech-desc {
  font-size: 0.9rem;
}

.icon {
  display: inline;
  padding-left: 0;
}

.source {
  display: inline;
  margin-right: 10rem;
}

/* BLOG */

.post-button {
  width: 100%;
  height: 100%;
  padding-top: 1rem;
}

.post-button-text {
  font-size: 1.25rem;
  display: inline;
}

.post {
  padding-top: 2rem;
}

.coming-soon {
  display: flex;
  justify-content: center;
}